<div>
    <form>
        <div class="row">
            <div class="col-sm-5 form-group">
                <label for="name">Name</label>
                <input type="text" id="name" #name class="form-control">
            </div>
            <div class="col-sm-2 form-group">
                <label for="amount" > Amount</label>
                <input type="text" id="amount" #amount class="form-control">
            </div>
        </div>
        <button class="btn btn-success mx-1" type="submit" (click)="onAddItem()">Add</button>
        <button class="btn btn-danger mx-1" type="button"> Delete</button>
        <button class="btn btn-primary mx-1" type="button">Clear</button>
        
    </form>
</div>